* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: Roboto;
  user-select: none;
}
.main {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
  margin: 0 auto;
}
.canvas {
  width: 724px;
  height: 724px;
  background: #808080;
  margin-top: 120px;
  left: 674px;
  top: 127px;
}
.frame {
  image-rendering: pixelated; 
  width: 200px;
  height: 200px;
}
.frames {
  margin-top: 120px;
  width: 260px;
  height: 724px;
  box-shadow: 0px 4px 4px #0000003d, 0px 0px 4px #0000001f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
::-webkit-scrollbar { 
  display: none; 
}
.frame-wrapper {
  position: relative;
  margin: 10px 0 10px 0;
  width: 200px;
  height: 200px;
}
.frame-number {
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
  width: 25px;
  height: 25px;
  background: #dddddd;
}
.preview {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 120px;
  background: #808080;
}
.preview-frame {
  width: 100%;
  height: 100%;
}
.clone-frame {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-image: url("../img/copy.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.remove-frame {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-image: url("../img/delete.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.create-frame {
  order: 100;
  background: transparent;
  background-image: url("../img/add.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  padding-bottom: 50px;
}
.fps {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
.fps-rate-label {
  position: absolute;
  left: 3%;
  bottom: 140%;
}
.fullscreen-button {
  position: absolute;
  right: 0%;
  bottom: 0%;
  background-image: url("../img/fs.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
input,
button {
  outline:none;
}
.menu {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  box-shadow: 0px 4px 4px #0000003d, 0px 0px 4px #0000001f;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-menu {
  margin-right: 30px;
}
.btn {
  background: none;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.menu-icon {
  width: 18px;
  height: 12px;
}
.menu h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000de;
}
.points-icon {
  width: 4px;
  height: 16px;
}
.pallete {
  width: 60px;
  height: 246px;
  margin-top: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #0000003d, 0px 0px 4px #0000001f;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.pallete-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 18px;
  line-height: 24px;  
  color: #0000008a;
}
img {
  width: 20px;
  height: 20px;
}
.paint,
.draw {
  cursor:pointer;
  transition: all 0.5s;
}
.paint:hover,
.draw:hover {
  background: #61dafb;
}
.aqua {
  background: #61dafb;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  background: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; 
}
input[type="color"]::-webkit-color-swatch {
  border: none;  
  border-radius: 50%;
}
input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;
  border-radius: 50%;
}
input[type=color]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  height: 140px;
}